src/main/mule/smallproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b5d011ec-55cf-48bf-ae38-950f719bf990" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="smallprojectFlow" doc:id="ec033133-c7ee-45a8-ab48-8483d7d6127b" >
		<http:listener doc:name="Listener" doc:id="e96e3582-979f-4502-b661-72f6c2c20952" path="/simple" config-ref="HTTP_Listener_config"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="f4c9bf2d-6937-4955-a6a9-830e98952ac3" />
		<logger level="INFO" doc:name="Logger" doc:id="b45063cf-dafe-47b1-a178-93085c8de06e" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="9df587bd-c999-49d6-8f0d-4b3444f10aff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
